[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "WinSimlvgl"]
	path = WinSimlvgl
	url = https://github.com/jian-ou/lvgl-windows-sim-vscode-master.git
[submodule "lvgl-windows-sim-vscode-master"]
	path = lvgl-windows-sim-vscode-master
	url = https://github.com/jian-ou/lvgl-windows-sim-vscode-master.git
